*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;


}

html, body {
    max-width: 100%;
    /*overflow-x: hidden;*/
}


@font-face { font-family: BM Space; src: url('BMSPA.TTF'); } 

body{
  color: black;
  background-color:black;
}
.adjleft{
  margin: 10px;
}


.personafont{
  font-family: BM Space;
}

.whitetexting{
  color: white;
}

.deepskyblue{
  color: DeepSkyBlue;
}


.cell{
	border: 1px solid white;
}

.menubtn{
  text-indent:30px;
  line-height: 60px;

  border-radius: 50%;
}
.menubtn:hover {
  /*transition: .5s ease;*/
  color: #00BFFF;
  /*opacity: 0.5;*/
}

.menutext{
  text-align: center;
}

.menutext:hover{
  color: #00BFFF;
}



.font1{
  font-family: 'Archivo Black', sans-serif;
}







/*Desktop styles*/
@media only screen and (min-width: 961px)
{
.skillspecific{
  transform: rotate(-45deg);
}


#firstpage{
  
            width: 100%;
            height: 100vh;
            background-image: url("../images/wallpaper.png");
            background-size:100% 100%;
            background-repeat: no-repeat;
}

#secondpage{
  
            width: 100%;
            height: 100vh;
            background-image: url("../images/wallpaper2.png");
            background-size:100% 100%;
            background-repeat: no-repeat;
}


#thirdpage{
  background-image: url("../images/wallpaper3.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
}






}

.skillrate{
  /*height: 100%;*/
  height: 25px;

}


.skillheader{
/*font-family: "helvetica";*/
color: #00416C;
/*font-size: 60px;*/
height: 5px;
line-height: 1%;
font-style: oblique;

}


.skilltext{
  text-align: center;
}

.skilllevel{
  text-align: center;
}

.skillbox{
  /*opacity: 0.6;*/
}

.skillsize{
  height: 60px;
  width: 50px;
  margin-left: 35px;

}




/*Mobile Styles*/
@media only screen and (max-width: 400px) 
{



.skillspecific{
  transform: rotate(-45deg);
  margin-left: 55px

}

#firstpage{
  background-image: url("../images/wallpaper.png");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}



#secondpage{
  background-image: url("../images/wallpaper2.png");
  background-repeat: no-repeat;
  /*background-size: 100%;*/
  /*height: 100%;*/

}





}









}


/*Tablet Styles*/
@media only screen and (min-width: 321px) and (max-width: 768px)
 {


html, body {
    max-width: 100%;
    overflow-x: hidden;
}









}






